body{
    background-color:antiquewhite;


}

h1{
    color: rgb(1, 1, 14) ;

}

h3{
    color: rgb(255, 0, 106) ;
}

p{
    color:rgb(255, 0, 0);
}

p1{
    color:blue;
}
h4{
    color:blue;
}
h5{
    color:blue;
}
p3{
    color:rgb(98, 0, 255);
}